# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('chipotle.tsv', sep='\t')

### Step 4. See the first 10 entries

In [3]:
chipo.loc[:10]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45

### Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 1
len(chipo)

4622

In [5]:
# Solution 2
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [6]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [7]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [17]:
most_ordered = chipo.groupby('item_name').sum().sort_values(by='quantity', ascending=False).iloc[0]
most_ordered

order_id                                                         713926
quantity                                                            761
choice_description    [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
item_price            $16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...
Name: Chicken Bowl, dtype: object

### Step 10. For the most-ordered item, how many items were ordered?

In [18]:
most_ordered['quantity']

np.int64(761)

### Step 11. What was the most ordered item in the choice_description column?

In [34]:
most_ordered2 =chipo.groupby('choice_description')['quantity'].sum()
most_ordered2 = most_ordered2.reset_index()
most_ordered2.sort_values(by='quantity', ascending=False).head(1)

   choice_description  quantity
15        [Diet Coke]       159

### Step 12. How many items were orderd in total?

In [38]:
chipo.groupby('item_name').sum().reset_index().shape[0]

50

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [46]:
chipo['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [53]:
chipo['item_price'].apply(lambda x:float(x.replace('$','')))

AttributeError: 'float' object has no attribute 'replace'

#### Step 13.c. Check the item price type

In [55]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [59]:
chipo['price'] = chipo['quantity']*chipo['item_price']
chipo['price'].sum()

np.float64(39237.02)

### Step 15. How many orders were made in the period?

In [65]:
chipo.groupby('order_id').sum().shape[0]

1834

### Step 16. What is the average revenue amount per order?

In [69]:
# Solution 1
chipo.groupby('order_id')['price'].sum().reset_index()['price'].mean()

np.float64(21.39423118865867)

In [80]:
# Solution 2
chipo.groupby('order_id')['price'].sum().reset_index().mean()['price']

np.float64(21.39423118865867)

### Step 17. How many different items are sold?

In [72]:
chipo['item_name'].unique().shape

(50,)

In [73]:
chipo['item_name'].nunique()

50